form .register{
  width: 100vw;
  height: 100vh;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  justify-content: center;
  align-items: center;
}
form h1{
 
  font-weight: 300;
}



.login{
    align-items: center;
    place-items: center;
    
}
form input{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px 0 0;
    width: 100%;
}
.login, .register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  form div {
    margin-bottom: 15px;
    margin-top: 25px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
  }
  
 form button {
    width: 40%;
    border: none;
    padding: 15px 20px ;
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
   
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  